/********************/
/* Action List */
/********************/

#category {
  color: #54af8c;
  font-size: 20px;
  font-weight: bold;
}

#actions header {
    color: #54af8c;
    font-weight: bold;
    text-decoration: underline;
}

#action-steps {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}