@import url('https://fonts.googleapis.com/css?family=Raleway|Rubik&display=swap');

/************/
/* Defaults */
/************/

body {
  font-family: 'Raleway', sans-serif;
}


/*********/
/* Forms */
/*********/

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; 
/* Removes awkward default styles on some inputs for iOS */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; 
}

textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; 
}

label,
legend {
  display: block;
  margin-bottom: .5rem;
}

fieldset {
  padding: 0;
  border-width: 0; 
}

input[type="checkbox"],
input[type="radio"] {
  display: inline; 
}

input:focus, 
textarea:focus {
  outline: none !important;
  border-color: #98C9A3;
  box-shadow: none;
}



/***********/
/* Buttons */
/***********/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
}

.vertical-buttons {
  display: inline-block;
  margin-top: .5rem;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; 
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #98C9A3;
  border-color: #98C9A3; 
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #77BFA3;
  border-color: #77BFA3; 
}

/*********/
/* Lists */
/*********/

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

li {
  margin-bottom: 1rem;
}


/***********/
/* Columns */
/***********/
.column {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  float: left;
}

.left-column {
  width: 45%;
  margin-left: 4%;
  margin-right: 1%;
}

.right-column {
  width: 45%;
  margin-right: 4%;
  margin-left: 1%;
}

.column-container {
  width: 80%;
  margin: 0px auto 0px auto;
  z-index: 1;
}


/***********/
/* Banners */
/***********/
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.banner-title {
  font-family: 'Rubik', sans-serif;
  color: #77BFA3;
  margin-left: 20px;
  margin-right: 20px;
}