/********************/
/* Topic Display */
/********************/

#topic-name {
    font-size: 45px;
    margin-left: 4%;
}

#topic-buttons {
    min-width: 300px;
    max-width: 450px;
}

#topic-description {
    min-width: 300px;
    max-width: 650px;
}
